{% load static %}
{% load i18n %}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'nonsemiotic/css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>{% trans 'Lexical Typology of non-semiotic Gestures and Postures' %}</title>   

    {% block css %}{% endblock %} 
    {% block js %}{% endblock %}
</head>

<body>
    {% include 'nonsemiotic/blocks/navbar.html' %}

    {% block content %}
    {% endblock %}

</body>
</html>