{% extends 'nonsemiotic/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

<div class="page-header">
  <center><h1 style="font-size: 36pt;">{% trans 'Lexical Typology of non-semiotic Gestures and Postures' %}</h1></center>
</div>

<div class="container-fluid">   
  <div class="row">
   
    <!--left-->
    <div class="col-md-2" id="leftCol">
        <ul id="sidebar" class="nav nav-pills nav-stacked">
          <li><a href="#sec1" style="color: #333333"><b>{% trans 'Publications' %}</b></a></li>
        </ul>
    </div>
    <!--/left-->	

    <!--middle-->
    <div class="col-md-8" id="midCol">  
      <hr id="sec1">
			  <h2>{% trans 'Publications' %}</h2>
			 
        <p>{% trans 'On this page will be a list of publications, dedicated to this project.' %}</p>

    </div>
    <!--/middle-->
				
		<!--right-->
    <div class="col-md-2" id="rightCol">
	    <div class="media-right">
        <a href="#"><img class="media-object" src="static/nonsemiotic/zhiraf.png" alt="..."></a>
	    </div>
    </div>
    <!--/right-->
		
  </div>
</div>

{% endblock %}