{% extends 'nonsemiotic/base.html' %}
{% load static %}
{% load i18n %}


{% block js %}
<script>
function isValid() {
    var lang_checkboxs = document.getElementsByName("lang");
    var part_checkboxs = document.getElementsByName("part");
    var lang = false;
    var part = false;

    for (var i = 0, l = lang_checkboxs.length; i < l; i++) {
        if (lang_checkboxs[i].checked) {
            lang = true;
            break;
        }
    }
    
    for (var i = 0, l = part_checkboxs.length; i < l; i++) {
        if (part_checkboxs[i].checked) {
            part = true;
            break;
        }
    }

    if (lang == false || part == false) { 
    	window.alert("{% trans 'It seems that you forgot to choose language or gesture. Please try again.' %}");
    }
}
</script>
{% endblock %}


{% block content %}

<div class="page-header">
  <center><h1 style="font-size: 36pt;">{% trans 'Lexical Typology of non-semiotic Gestures and Postures' %}</h1></center>
</div>

<form action="">
  
  <div class="container-fluid" id = "languages">
    <div class="row">
      <h3>{% trans 'Choose language' %}</h3>
        <p></p>
        <div class="row"> 
        {% for elem in langs %}
          <div class="col-sm-2">
            <input type="checkbox" name="lang" value="{{ elem.lang_code }}" style="margin-right: 5px;">{{ elem.lang }}<Br>
          </div>   
        {% endfor %}
        </div>

    </div>
  </div>


<div class="container-fluid" id = "gestures">
    <h3>{% trans 'Choose gestures/postures' %}</h3>
    <p>{% trans 'To view a GIF image, click on it. To stop playback, click on it again.' %}</p>
    
    <div class="panel-group" id="accordion">
      <p></p>
      
      <!-- 1 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 1 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{% trans 'Feet' %}</a></h4>
        </div>
        
        <div id="collapseOne" class="panel-collapse collapse in">
      
        <!-- Содержимое 1 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">

          {% for elem in feet %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="{% static '' %}nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? '{% static '' %}nonsemiotic/{{ elem.num }}.gif' : '{% static '' %}nonsemiotic/{{ elem.num }}.jpg'" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}

         </div>
         <!--row-->    
        </div>
        <!-- Содержимое 1 панели -->

        </div>
        <!-- collapseOne -->
      </div>
      <!-- 1 панелm -->

 <!-- 2 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 2 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{% trans 'Hands and fingers' %}</a></h4>
        </div>

        <div id="collapseTwo" class="panel-collapse collapse">
      
        <!-- Содержимое 2 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
       
          {% for elem in hands %}
            <div class="col-md-4">
              <figure class="sign">
		<p><img src="{% static '' %}nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? '{% static '' %}nonsemiotic/{{ elem.num }}.gif' : '{% static '' %}nonsemiotic/{{ elem.num }}.jpg'" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
            
          </div>
          <!-- row -->      
        </div>
        <!-- Содержимое 2 панели -->
        </div>
        <!-- collapseTwo -->
      </div>
      <!-- 2 панель -->
  
      <!-- 3 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 3 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{% trans 'Back' %}</a></h4>
        </div>

        <div id="collapseThree" class="panel-collapse collapse">

        <!-- Содержимое 3 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
        
          {% for elem in back %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="{% static '' %}nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? '{% static '' %}nonsemiotic/{{ elem.num }}.gif' : '{% static '' %}nonsemiotic/{{ elem.num }}.jpg'" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
            
          </div>
          <!-- row -->        
        </div>
        <!-- Содержимое 3 панели -->
        </div>
        <!-- collapseThree -->
      </div>
      <!-- 3 панель -->

      <!-- 4 панель -->
      <div class="panel panel-default">
      
        <!-- Заголовок 4 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{% trans 'Neck and head' %}</a></h4>
        </div>
        
        <div id="collapseFour" class="panel-collapse collapse">
        
        <!-- Содержимое 4 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
    
          {% for elem in head %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="{% static '' %}nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? '{% static '' %}nonsemiotic/{{ elem.num }}.gif' : '{% static '' %}nonsemiotic/{{ elem.num }}.jpg'" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
    
          </div>
          <!-- row -->    
        </div>
        <!-- Содержимое 4 панели -->   
        </div>
        <!-- collapseFour -->
      </div>
      <!-- 4 панель -->

      <!-- 5 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 5 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">{% trans 'Miscellaneous' %}</a></h4>
        </div>
        
        <div id="collapseFive" class="panel-collapse collapse">
        
        <!-- Содержимое 5 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
            
          {% for elem in other %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="{% static '' %}nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? '{% static '' %}nonsemiotic/{{ elem.num }}.gif' : '{% static '' %}nonsemiotic/{{ elem.num }}.jpg'" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
    
          </div>
          <!-- row -->       
        </div>
        <!-- Содержимое 5 панели -->   
        </div>
        <!-- collapseFive -->
      </div>
      <!-- 5 панель-->
    </div>  
    </div>  
  </div>
  </div>

  <div id = "submit_button" style="margin-bottom: 3%; margin-left: 1.5%;">
    <p><input type="submit" value = "{% trans 'Search' %}" onclick="isValid()"></p>
  </div>

</form>


{% endblock %}
