<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">


<script>
function isValid() {
    var lang_checkboxs = document.getElementsByName("lang");
    var part_checkboxs = document.getElementsByName("part");
    var lang = false;
    var part = false;

    for (var i = 0, l = lang_checkboxs.length; i < l; i++) {
        if (lang_checkboxs[i].checked) {
            lang = true;
            break;
        }
    }
    
    for (var i = 0, l = part_checkboxs.length; i < l; i++) {
        if (part_checkboxs[i].checked) {
            part = true;
            break;
        }
    }

    if (lang == false || part == false) { 
    	window.alert("{% trans 'It seems that you forgot to choose language or gesture. Please try again.' %}");
    }
}
</script>


<style>       
/* цвет фона и рамки навигационного меню */
.navbar-inverse {
  background-color: #009a63;
  border-color: #009a63;
}

/* цвет текста, содержащий название сайта или бренда */
.navbar-inverse .navbar-brand {
  color: #e5f4ef;
}

/* Цвет пунктов навигационного меню */
.navbar-inverse .navbar-nav > li > a {
  color: #e5f4ef;
}

/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #005c3b;
}

h1 {
  font-size:370%;
}

body {
  position: relative;
  margin: 0;
}

#languages {
    padding-right: 40px; 
    padding-left: 40px;
}

#gestures {
    padding-right: 20px; 
    padding-left: 20px
}

#accordion {
    padding-right: 0px; 
    padding-left: 0px
}

#submit_button {
    padding-left: 20px;
}

/* Футер */
.text-center {
  background-color: #cceadf;
  border-color: #cceadf;
  margin-top: 20px;
  margin-bottom: 0px;
} 

.text-center p {
    margin: 10px 0;
}
</style>


<head>

<title>{% trans 'Lexical Typology of non-semiotic Gestures and Postures' %}</title>   
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <div class="row">
    <div class="col-sm-10">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="//linghub.ru/nonsemiotic/"><b>{% trans 'Main' %}</b></a></li>
        <li><a href="//linghub.ru/nonsemiotic/about_project"><b>{% trans 'About' %}</b></a></li>
        <li><a href="//linghub.ru/nonsemiotic/publications"><b>{% trans 'Publications' %}</b></a></li>
        <li class="active"><a href="//linghub.ru/nonsemiotic/search"><b>{% trans 'Search' %}</b><span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    </div>

    <div class="col-sm-2" style="padding-left: 80px;">
    <form class="form-inline" action="/i18n/setlang/" method="post">
    {% csrf_token %}
      <div class="input-group" style="padding-top: 10px;">
        <input name="next" type="hidden" value="{{ redirect_to }}" />
          <select class="form-control input-sm" name="language">
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ language.code }}
            </option>
          {% endfor %}
          </select>
          <span class="input-group-btn">
             <button type="submit" class="btn btn-secondary btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
          </span>
      </div>
    </form>
    </div>

    </div>


  </div>
</nav>

<div class="page-header">
  <center><h1 style="font-size: 36pt;">{% trans 'Lexical Typology of non-semiotic Gestures and Postures' %}</h1></center>
</div>

</head>


<body>
<form action="">
  
  <div class="container-fluid" id = "languages">
    <div class="row">
      <h3>{% trans 'Choose language' %}</h3>
        <p></p>
        <div class="row"> 
        {% for elem in langs %}
          <div class="col-sm-2">
            <input type="checkbox" name="lang" value="{{ elem.lang_code }}" style="margin-right: 5px;">{{ elem.lang }}<Br>
          </div>   
        {% endfor %}
        </div>

    </div>
  </div>


<div class="container-fluid" id = "gestures">
    <h3>{% trans 'Choose gestures/postures' %}</h3>
    <p>{% trans 'To view a GIF image, click on it. To stop playback, click on it again.' %}</p>
    
    <div class="panel-group" id="accordion">
      <p></p>
      
      <!-- 1 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 1 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{% trans 'Feet' %}</a></h4>
        </div>
        
        <div id="collapseOne" class="panel-collapse collapse in">
      
        <!-- Содержимое 1 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">

          {% for elem in feet %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="static/nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? 'static/nonsemiotic/{{ elem.num }}.gif' : 'static/nonsemiotic/{{ elem.num }}.jpg'"" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}

         </div>
         <!--row-->    
        </div>
        <!-- Содержимое 1 панели -->

        </div>
        <!-- collapseOne -->
      </div>
      <!-- 1 панелm -->

 <!-- 2 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 2 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{% trans 'Hands and fingers' %}</a></h4>
        </div>

        <div id="collapseTwo" class="panel-collapse collapse">
      
        <!-- Содержимое 2 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
       
          {% for elem in hands %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="static/nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? 'static/nonsemiotic/{{ elem.num }}.gif' : 'static/nonsemiotic/{{ elem.num }}.jpg'"" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
            
          </div>
          <!-- row -->      
        </div>
        <!-- Содержимое 2 панели -->
        </div>
        <!-- collapseTwo -->
      </div>
      <!-- 2 панель -->
  
      <!-- 3 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 3 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{% trans 'Back' %}</a></h4>
        </div>

        <div id="collapseThree" class="panel-collapse collapse">

        <!-- Содержимое 3 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
        
          {% for elem in back %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="static/nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? 'static/nonsemiotic/{{ elem.num }}.gif' : 'static/nonsemiotic/{{ elem.num }}.jpg'"" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
            
          </div>
          <!-- row -->        
        </div>
        <!-- Содержимое 3 панели -->
        </div>
        <!-- collapseThree -->
      </div>
      <!-- 3 панель -->

      <!-- 4 панель -->
      <div class="panel panel-default">
      
        <!-- Заголовок 4 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{% trans 'Neck and head' %}</a></h4>
        </div>
        
        <div id="collapseFour" class="panel-collapse collapse">
        
        <!-- Содержимое 4 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
    
          {% for elem in head %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="static/nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? 'static/nonsemiotic/{{ elem.num }}.gif' : 'static/nonsemiotic/{{ elem.num }}.jpg'"" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
    
          </div>
          <!-- row -->    
        </div>
        <!-- Содержимое 4 панели -->   
        </div>
        <!-- collapseFour -->
      </div>
      <!-- 4 панель -->

      <!-- 5 панель -->
      <div class="panel panel-default">
        
        <!-- Заголовок 5 панели -->
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">{% trans 'Miscellaneous' %}</a></h4>
        </div>
        
        <div id="collapseFive" class="panel-collapse collapse">
        
        <!-- Содержимое 5 панели -->
        <div class="panel-body">
          <div class="row" style = "padding-left: 30px">
            
          {% for elem in other %}
            <div class="col-md-4">
              <figure class="sign">
                <p><img src="static/nonsemiotic/{{ elem.num }}.jpg" onclick="this.src = (this.src.indexOf ('.jpg') > 0) ? 'static/nonsemiotic/{{ elem.num }}.gif' : 'static/nonsemiotic/{{ elem.num }}.jpg'"" style = "width: 300px; height: 170px" alt= "..."></p>
                
                <figcaption>
                  <input type="checkbox" name="part" value="{{ elem.num }}"> {{ elem.gest }} <Br>
                </figcaption>
              </figure>
            </div>
          {% endfor %}
    
          </div>
          <!-- row -->       
        </div>
        <!-- Содержимое 5 панели -->   
        </div>
        <!-- collapseFive -->
      </div>
      <!-- 5 панель-->
    </div>  
    </div>  
  </div>
  </div>

  <div id = "submit_button">
    <p><input type="submit" value = "{% trans 'Search' %}" onclick="isValid()"></p>
  </div>

</form>

<footer class="text-center">
  <div class="container">
    <p class="text-muted">{% trans 'School of Linguistics NRU HSE' %} 2016 (c)</p>
  </div>
</footer>

</body>


</html>