
<!DOCTYPE html>

<html lang="ru-RU" >
<head>
<title>Добавить языковые данные | Редактирование данных</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-nonsemiotic model-languagesdata change-form"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Лексическая типология несемиотических жестов</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Добро пожаловать,
                <strong>test_user</strong>.
            
            
                
                    <a href="/">Открыть сайт</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">Изменить пароль</a> /
                
                <a href="/admin/logout/">Выйти</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Начало</a>
&rsaquo; <a href="/admin/nonsemiotic/">Nonsemiotic</a>
&rsaquo; <a href="/admin/nonsemiotic/languagesdata/">Языковые данные</a>
&rsaquo; Добавить языковые данные
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Добавить языковые данные</h1>
        
<div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="languagesdata_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='BbtR1511aJQl8clOTPXbCAcU2IejrOGjPY1SG3cO2p18IZzygVjo3G05zzfeuh0M' />
{% csrf_token %}
<div>
{{ formset.management_form }}
    <table>
    <tr>
        <th>Язык</th>
        <th>Языковой код</th>
        <th>Пункт анкеты</th>
        <th>Лексическое средство</th>
        <th>Конструкция</th>
        <th>Перевод</th>
        <th>Комментарии</th>
    </tr>
    {% for form in formset %}
        <tr>
            {% for field in form %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>



<div class="submit-row">
<input type="submit" value="Сохранить" class="default" name="_save" />


<input type="submit" value="Сохранить и добавить другой объект" name="_addanother" />
<input type="submit" value="Сохранить и продолжить редактирование" name="_continue" />
</div>



    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="languagesdata"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
